:root {
    --items-per-page: 4;
}

.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrusel-container {
    /* Prevent logos from wrapping to the next line */
    white-space: nowrap;
}

.carrusel-item {
    display: inline-block;
    /* min-width: calc(100% / var(--items-per-page)); */
    box-sizing: border-box;
    padding: 5px !important;
    text-align: center;
    background-color: #fff;
    border: none;
}
