#topnav.nav-sticky .navigation-menu.nav-light button {
    color: #3c4858 !important;
}

#topnav .navigation-menu.nav-light button {
    color: rgba(255,255,255,0.5) !important;
}

.megamenu-head {
    font-size: 12px !important;
}

@media (max-width: 768px) {
    #topnav.nav-sticky .navigation-menu.nav-light button {
        color: #3c4858 !important;
    }

    #topnav .navigation-menu.nav-light button {
        color: #3c4858 !important;
    }
}