html,body {
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.amaranth-regular {
    font-family: "Amaranth", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  .amaranth-bold {
    font-family: "Amaranth", serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }
  
  .amaranth-regular-italic {
    font-family: "Amaranth", serif !important;
    font-weight: 400 !important;
    font-style: italic !important;
  }
  
  .amaranth-bold-italic {
    font-family: "Amaranth", serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
  }


.montserrat-bold {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.montserrat-regular {
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}



.btn-primary-winners {
    background-color: #6500b0 !important;
    color: #fff !important;

}

.btn-primary-winners:hover {
    background-color: #4b0082 !important;
    color: #fff !important;
    
}

.btn-primary-winners:active {
    background-color: #8000DE !important;
    color: #fff !important;
    
}

.btn-secondary-winners {
    background-color: #ac3bff !important;
    color: #fff !important;

}

.btn-secondary-winners:hover {
    background-color: #980DFF !important;
    color: #fff !important;
    
}

.btn-secondary-winners:active {
    background-color: #bf68ff !important;
    color: #fff !important;
    
}

.text-primary-winners {
    color: #4b0082 !important;
}

.text-secondary-winners {
    color: #980DFF !important;
}

.text-complementary-red {
    color: #e54f6d !important;
}

.text-complementary-yellow {
    color: #f8c631 !important;
}

.bg-primary-winners {
    background-color: #4b0082 !important;
}

.bg-secondary-winners {
    background-color: #980DFF !important;
}

.bg-complementary-red {
    background-color: #e54f6d !important;
}

.bg-complementary-yellow {
    background-color: #f8c631 !important;
}

.img-carrusel-logo {
  height: 100px !important;
}